<div class="column is-12-tablet is-6-desktop is-3-widescreen">
  <%= link_to link do %>
    <div class="notification has-text-centered <%= color %>">
      <p class="title is-1"><%= count %></p>
      <p class="subtitle is-4"><%= item %></p>
    </div>
  <% end %>
</div>
