<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <%= form_for :search, method: :get do %>
        <div class="field has-addons">
          <p class="control">
            <%= text_field_tag :keywords, nil, placeholder: "Course title, overview etc...", class: 'input is-medium' %>
          </p>
          <p class="control">
            <button type='submit' class="button is-link is-medium">
              Search
            </button>
          </p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="vue-order-courses"></div>
</nav>
