<nav class="level">
  <div class="level-left">
    <div class="level-item is-hidden-tablet-only">
      <div class="field has-addons">
        <p class="control">
          <input class="input is-medium" type="text" placeholder="Course title, subject etc...">
        </p>
        <p class="control">
          <button class="button is-link is-medium">
            Search
          </button>
        </p>
      </div>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      Order by
    </div>
    <div class="level-item">
      <div class="select">
        <select>
          <option>Date</option>
          <option>Price</option>
          <option>Students</option>
        </select>
      </div>
    </div>
    <div class="level-item">
      <div class="select">
        <select>
          <option>Asc</option>
          <option>Desc</option>
        </select>
      </div>
    </div>
  </div>
</nav>
