<nav class="level">
  <div class="level-left">
    <div class="level-item is-hidden-tablet-only">
      <%= form_for :search, method: :get do %>
        <div class="field has-addons">
          <p class="control">
            <%= text_field_tag :keywords, nil, placeholder: "Course title, overview etc...", class: 'input is-medium' %>
          </p>
          <p class="control">
            <button type='submit' class="button is-link is-medium">
              Search
            </button>
          </p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      Order by
    </div>
    <div class="level-item">
      <div class="select">
        <select>
          <option>Date</option>
          <option>Price</option>
          <option>Students</option>
        </select>
      </div>
    </div>
    <div class="level-item">
      <div class="select">
        <select>
          <option>Asc</option>
          <option>Desc</option>
        </select>
      </div>
    </div>
  </div>
</nav>
