@import '~bulma/sass/utilities/initial-variables';
@import '~bulmaswatch/pulse/_variables';

$menu-item-active-background-color: $link;
@import '~bulma';

@import '~bulmaswatch/pulse/_overrides';

.field_with_errors {
  input[type='text'],
  input[type='email'],
  input[type='password'],
  textarea {
    border: 2px solid $red;
    color: $red;
  }
}
