<% if notice %>
  <div class="notification is-info is-light py-2">
    <div class="container">
      <%= notice %>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="notification py-2">
    <div class="container">
      <%= alert %>
    </div>
  </div>
<% end %>
