<% if notice %>
  <div class="notification is-link is-light">
    <div class="container">
      <%= notice %>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="notification is-danger is-light">
    <div class="container">
      <%= alert %>
    </div>
  </div>
<% end %>
