<footer class="footer py-4 mt-3">
  <div class="content has-text-centered">
    <strong>E-Learn</strong> by <a target='_blank' href="https://github.com/blessed-sibanda">Blessed Sibanda</a>. 
    Copyright &copy; <%= Date.today.year %>
  </div>
</footer>
